header {
    background-color: #93C28E;
    overflow: hidden;
    position: relative;
}

.BloodHeader {
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.BloodTitle {
    font-family: "Rock Salt";
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 10%;
}

span.ofDoom {
    color: #E27E69;
}