.main1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#Textboxbutton{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#AddZombieInput{
    width: 320px;
    display: flex;
    align-content: center;
    border: none;
    border-bottom: 5px solid black;
    background-color: #95c48e;
    text-align: center;
    outline-color: transparent; 
    outline-style: none;
    font-family: 'Cinzel', serif;
    font-size: 17px;
}

#buttonText {
    width: 40px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-size: 14px;
}

#startbtn{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.main2{
    width:inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.imgstart{
    width: 30% !important;
    height: 30% !important;
    }


.list{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.zombieImg{
    display: inherit;
    flex-direction: inherit;
    
}
.coderImg{
    display: inherit;
    flex-direction: inherit;
   
}
.cardBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: inherit;
    border-radius: 6px;
    margin-left: 5px;
}
.coderImg .cardBox{
    background-color: #ECDBBA;
}
.zombieImg .cardBox{
    background-color: #CD4345;
}

.imgCards{
    width: 50px;
    height: 50px;
}
.nameZombie{
    font-family: 'Courier New', Courier, monospace;

}
.antidote{
    width: 60px;
    height: 20vh;
}

.displayon {
    display: inherit;
}

.displayoff{
    display: none;
}

