.main1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#AddZombieInput{
    width: 320px;
    display: flex;
    align-content: center;
    border: none;
    border-bottom: 5px solid black;
    background-color: #95c48e;
    text-align: center;
    outline-color: transparent; 
    outline-style: none;
}

#buttonText {
    width: 40px;
    height: 30px;
    margin-left: 10px;
}

#AddZombieInput{
    font-family: 'Cinzel', serif;
    font-size: 17px;
}


#buttonText {
    font-family: 'Cinzel', serif;
    font-size: 14px;

}

#Textboxbutton{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

#startbtn{
    width: 100px;
    height: 100px;
    
}

.imgstart{
    
    width: 100%;
    height: 50vh;
    }


.list{
    width: auto;
    height: 25%;
    display:flex ;
    flex-direction: row;
}
.imgCards{
    width: 55px;
    height: 55px;
}
.antidote{
    width: 60px;
    height: 20vh;
}

.displayon {
    display: inherit;
}

.displayoff{
    display: none;
}

